# Copy to .env and update values
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/exconvict"
# Next.js secret for iron-session
SESSION_PASSWORD="complex_password_at_least_32_chars_long"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
PORT=3000
